.step {
  width: 100%;
  flex-shrink: 0;

  display: flex;
  flex-flow: column nowrap;
}

.header {
  width: 100%;

  display: flex;
  align-items: center;
}

.header:disabled {
  opacity: 0.25;
}

.completed {
  color: $success;
}

.name {
  white-space: nowrap;
  padding: 10px 10px 10px 0;

  font-family: $montserrat;
  font-weight: 500;
  font-size: 15px;
}

.divider {
  width: 100%;

  margin: 10px;

  height: 3px;
  background-color: currentColor;
}

.icon {
  width: 18px;
  padding: 10px 0 10px 10px;
  flex-shrink: 0;
  fill: currentColor;
}
