{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-syntax-dynamic-import",
    [
      "transform-imports",
      {
        "ramda": {
          "transform": "ramda/src/${member}",
          "preventFullImport": true
        }
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ]
}
