### JetBrains IDEs ###
.idea/

### Build Standards ###
build/

.env.*
!.env.example

### Travis ###
!*.enc

### Node ###
node_modules/

### Yarn ###
yarn-error.log

### Firebase ###
.firebase/
.firebaserc
firebase-debug.log

### macOS ###
.DS_Store
