.container {
  width: 100%;
  position: relative;
}

.select {
  width: calc(100% - 20px);
}

.open {
  padding: 9px;
  border: 2px solid $primary;
}

.selected {
  background-color: darken(white, 10%);
}

.selectModal {
  width: 100%;
  max-height: 200px;

  transform: translate(0, 40px);

  overflow: auto;
}
