.header {
  grid-area: header;
  z-index: 19;

  display: grid;
  grid-template: '. drawer items alert user .' auto / 20px 50px auto 50px 50px 20px;

  background-color: $primary;

  @include drop-shadow(0.05);

  @include for-tablet-landscape-up {
    grid-template: 'items alert user .' auto / auto 50px 50px 20px;
  }

  justify-items: center;
  align-items: center;
}

.drawerContainer {
  grid-area: drawer;

  display: initial;

  @include for-tablet-landscape-up {
    display: none;
  }
}

.alertContainer {
  grid-area: alert;
}

.userContainer {
  grid-area: user;
}

.userModal {
  width: 160px;
  transform: translate(-120px, 30px);
}
