.modal {
  display: flex;
  flex-flow: column nowrap;
}

.base {
  user-select: none;
}

.option {
  cursor: pointer;

  text-align: left;
  font-size: 15px;
  padding: 8px 16px;

  width: 100%;
  flex-shrink: 0;

  overflow: auto;
}

.option:hover {
  background-color: darken(white, 10%);
}

.heading {
  color: lighten($black-text, 20%);
  font-size: 13px;
  padding: 8px;
}

.divider {
  margin: 4px 0;
  height: 1px;
  background-color: darken(white, 20%);
}
