.modal {
  display: flex;
  flex-flow: column nowrap;
}

.base {
  user-select: none;
}

.option {
  cursor: pointer;

  padding: 8px 15px 8px 15px;
}

.option:hover {
  background-color: darken(white, 10%);
}

.heading {
  color: lighten($black-text, 20%);
  font-size: 13px;
  padding: 8px 15px 8px 15px;
}

.divider {
  margin: 5px 0 5px 0;
  height: 1px;
  background-color: darken(white, 20%);
}
