.input {
  font-family: $roboto;
  font-size: 15px;

  outline: none;
  border: 1px solid #cccccc;
  padding: 9px;
}

.input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.input:focus {
  padding: 8px;

  border: 2px solid $primary;
}

.input::placeholder {
  color: #cccccc;
}
