$phi: 1.6180339887498948482;

$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$white-text: white;
$black-text: lighten(black, 10%);

$primary: #edd124;
$primary-text: $white-text;

$secondary: white;
$secondary-text: $black-text;

$dark-grey: #333333;
$light-grey: #cccccc;

$link: #0000ee;
$warning: #ee6352;
