$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$white-text: white;
$black-text: lighten(black, 10%);

$primary: #EDD124;

$primary-text: $white-text;

$secondary: white;

$secondary-text: $black-text;

$warning: #ee6352;
