.button {
  font-family: $roboto;
  font-size: 15px;

  outline: none;
  border: 0;
  padding: 10px 15px 10px 15px;

  color: $primary-text;
  background-color: $primary;

  cursor: pointer;
  user-select: none;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button:hover {
  background-color: lighten($primary, 5%);
}

.inverted {
  color: $primary;
  background-color: $primary-text;
  border: solid 2px $primary;
}

.inverted:hover {
  background-color: darken($primary-text, 5%);
  border: solid 2px lighten($primary, 10%);
}
