{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "umd"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "transform-imports",
      {
        "ramda": {
          "transform": "ramda/src/${member}",
          "preventFullImport": true
        }
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ]
}
