.app {
  width: 100%;
  height: 100%;

  overflow: auto;
}

.fullHeight {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template: 'big small' 1fr / 3fr 2fr;

  @include portrait {
    grid-template: 'big' 3fr 'small' 2fr / 1fr;
  }
}

.big {
  color: white;
  background-color: $primary;

  font-family: $montserrat;
  font-size: 5vw;
  font-weight: 700;
  line-height: 1;
  word-spacing: 100vw;

  padding: 30px;

  display: flex;
  align-items: flex-end;

  @include portrait {
    font-size: 5vh;
  }
}

.small {
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 20vw;
  height: 20vw;

  @include portrait {
    width: 20vh;
    height: 20vh;
  }
}
