.home {
  height: 100%;

  display: grid;
  grid-template: 'content side' auto / 3fr 1fr;

  @include portrait {
    grid-template: 'content' auto / auto;
  }
}

.content {
  grid-area: content;

  overflow: auto;
}

.side {
  z-index: 10;
  grid-area: side;
  @include drop-shadow(0.1);

  @include portrait {
    display: none;
  }
}

.white {
  background-color: white;
  color: $black-text;
}

.primary {
  background-color: $primary;
  color: $white-text;
}

.written {
  padding: 0 30px 30px;
  font-size: 16px;

  @include for-tablet-landscape-up {
    padding: 30px;
  }

  h1 {
    width: 100%;
    font-family: $montserrat;
    font-weight: 500;
    font-size: 24px;

    @include for-tablet-landscape-up {
      font-size: 32px;
    }
  }
}

.heroText {
  height: calc(100% - 60px);

  padding: 30px;

  line-height: 1;
  font-family: $montserrat;
  font-weight: 700;
  word-spacing: 100vw;

  font-size: 9vh;

  display: flex;
  align-items: flex-end;

  @include portrait {
    height: calc(75% - 60px);
    font-size: 9vw;
  }
}

.contentLogo {
  display: none;

  height: 25%;

  img {
    height: 60%;
    max-width: 60vw;
  }

  @include portrait {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sideLogo {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  img {
    width: 60%;
    max-height: 60vh;
  }

  @include portrait {
    display: none;
  }
}
